cache.rng

<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
 xmlns="http://relaxng.org/ns/structure/1.0">

 <start>
	<element name="cache">
		<attribute name="type">
			<choice>
				<value>unified</value>
				<value>data</value>
				<value>code</value>
			</choice>
		</attribute>
		<interleave>
			<element name="l"><data type="integer"/></element>
			<element name="b"><data type="float"/></element>
		</interleave>
	</element>
 </start>

</grammar>
